{{ "<!-- STATUS -->" | safeHTML }}
<section id="status">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.status.headline }}{{ . | markdownify }}{{ end }}</h2>
                <hr class="primary">
                <p>{{ with .Site.Params.status.description }}{{ . | markdownify }}{{ end }}</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-tachometer fa-3x wow bounceIn"></i>
                <a href="{{ with .Site.Params.status.status }}{{ . }}{{ end }}">
                <p>Status dashboard</p></a>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-twitter fa-3x wow bounceIn"></i>
                <a href="{{ with .Site.Params.status.twitter }}{{ . }}{{ end }}">
                <p>Follow us on Twitter!</p></a>
            </div>
        </div>
    </div>
</section>
